@page "/AddNewTeam"

<h1>Hello and welcome to this page</h1>

<EditForm Model=@Team>
    <div class="form-group">
        <label for="Name">Name</label>
        <InputText @bind-Value=Person.Name class="form-control" id="Name" />
    </div>
    <div class="form-group">
        <label for="Age">Age</label>
        <InputNumber @bind-Value=Person.Age class="form-control" id="Age" />
    </div>
    <input type="submit" class="btn btn-primary" value="Save" />
</EditForm>


@code {
    Team team = new Team();
    private string teamName;
    private string coachName;
    private int ranking;

}

